:root {
  --primary: #2F0C38;
  --secondary: #FF9900;
  --fade: #2f0c3860;
}

body {
  margin: 0;
  font-family: 'Rubik', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2F0C38;
}